useDynLib(BNPqte, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(magrittr,"%>%")
importFrom(plotly, plot_ly, add_surface, layout)
##exportPattern("^[[:alpha:]]+")
export(DPMdensity, plot.DPMdensity, DPMcdensity)