useDynLib(NonParamQTE, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(mvtnorm, rmvnorm)
importFrom(plotly, plot_ly, add_surface, layout, subplot)
##exportPattern("^[[:alpha:]]+")
export(DPMdensity, plot.DPMdensity)