useDynLib(BNPqte, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(magrittr,"%>%")
importFrom(plotly, plot_ly, add_surface, layout)
importFrom(ggplot2, ggplot, geom_contour, theme_bw, aes, facet_grid, label_both, geom_line, scale_colour_manual, geom_ribbon, scale_fill_manual, facet_wrap, ylab, xlab)
importFrom(BART, pbart, lbart)
##exportPattern("^[[:alpha:]]+")
export(DPMdensity, DPMcdensity)
S3method(plot, DPMdensity)
S3method(plot, DPMcdensity)
S3method(predict, DPMdensity)
S3method(predict, DPMcdensity)